<!doctype html>
<html lang="en">
<head>

<title></title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/sciter-dognail.css" />

</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
