<header>
    <div class="header__main">
        <!-- TEMP -->
        <div style="width:36px;height:42px;float:right" class="btn-menu-mobile">
            <svg style="width:100%;height:100%" preserveAspectRatio="xMidYMid meet">
                <use xlink:href="/images/sprite.svg#ico-nav-mobile"></use>
            </svg>
        </div>
        <!-- /TEMP -->
    </div>
</header>
