@font-face
{
    font-family: 'HelveticaNeueRegular';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?iefix') format('eot'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-webfont.svg#webfonthSEi03W6') format('svg');
    font-weight: normal;
    font-style:  normal;
}
